@model IEnumerable<Catalyst.Core.Models.Domain.Person>
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>People</h4>
    </div>
    @Html.Partial("_PersonTable", Model)
</div>
