@model string

@section TitleAndMeta
{
    <title>Person Details - Health Catalyst People Problem</title>
    <meta name="description" content="Detailed view of person record" />
}




<div>
    <strong>Person details: @Model</strong>

</div>

