@{
    Layout = "_DashboardItem.cshtml";
}
<a href="https://twitter.com/rustyswayne" class="twitter-follow-button" data-show-count="false">Follow @@rustyswayne</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>