// recently added
.box-recently-added {

    .person-table { min-height: 280px;}

    .total-people {
        
        text-align: center;

        span { font-size: 3em; }
    }
}

.person-table {

}
